# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# dotenv
.env

# macOS
.DS_Store

# Logs
logs/
*.log

# Build
dist/
build/

# React Native / Expo
.expo/
.expo-shared/

# VSCode
.vscode/

# IntelliJ
.idea/

# Misc
coverage/
*.tgz
